* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  /* font-family: "Fraunces-Black", "Barlow-Bold", "Barlow-Regular", sans-serif; */
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@font-face {
  font-family: "Fraunces-Black";
  src: url(./assets/fonts/Fraunces-Black.ttf);
}

@font-face {
  font-family: "Barlow-Regular";
  src: url(./assets/fonts/BarlowSemiCondensed-Regular.ttf);
}

@font-face {
  font-family: "Barlow-Bold";
  src: url(./assets/fonts/BarlowSemiCondensed-Bold.ttf);
}

body {
  font-family: var(--body-font);
  /* background-color: #000000; */
}

:root {
  /* COLOR VARIANTS */
  --dark-cyan-color: #0e8784;
  --dark-cyan-hover-color: #0adfdb;
  --dark-grey-blue-color: #333d4b;
  --pale-orange-color: #fdd6ba;
  --bg-light-cream-color: #fefcf7;
  --grey-color: #83888f;

  /* METRICS */
  /* title alt big*/
  --title-alt-big-font: "Fraunces-Black";
  --title-alt-big-fontSize: 150px;
  --title-alt-big-lineHeight: 72px;
  --title-alt-big-textTransform: lowercase;

  /* body */
  --body-font: "Barlow-Regular";
  --body-fontSize: 16px;
  --body-lineHeight: 26px;

  /* h1 heading1 */
  --heading1-font: "Fraunces-Black";
  --heading1-fontSize: 72px;
  --heading1-lineHeight: 48px;

  /* h2 heading2 */
  --heading2-font: "Fraunces-Black";
  --heading2-fontSize: 32px;
  --heading2-lineHeight: 36px;

  /* h3 heading3 */
  --heading3-font: "Fraunces-Black";
  --heading3-fontSize: 40px;
  --heading3-lineHeight: 48px;

  /* h4 heading4 */
  --heading4-font: "Fraunces-Black";
  --heading4-fontSize: 24px;
  --heading4-lineHeight: 32px;

  /* navigation menu */
  --nav-menu-font: "Barlow-Bold";
  --nav-menu-fontSize: 12px;
  --nav-menu-lineHeight: 15px;
  --nav-menu-letterSpacing: 1;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.container {
  padding: 5px 25px;
  margin: 0 auto;
  max-width: 1024px;
}

.cta__btn {
  color: var(--bg-light-cream-color);
  background-color: var(--dark-cyan-color);
  padding: 12px 24px;
  border-radius: 8px;
  font-family: "Fraunces-Black";
  cursor: pointer;
  transition: background-color 0.8s ease;
  -moz-transition: background-color 0.8s ease;
  -webkit-transition: background-color 0.8s ease;
}

.cta__btn:hover {
  background-color: var(--dark-cyan-hover-color);
}

/* HEADER SECTION */
.header {
  width: 100%;
  /* position: fixed; */
  /* backdrop-filter: blur(10px); */
  right: 0;
  left: 0;
  background-color: #ffffffce;
  z-index: 1000;
}

.nav__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.nav__section-menu ul {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 30px 0;
  gap: 40px;
  text-transform: uppercase;
  font-size: var(--nav-menu-fontSize);
  font-family: var(--nav-menu-font);
  letter-spacing: var(--nav-menu-letterSpacing);
  line-height: var(--nav-menu-lineHeight);
}

.nav__section-menu ul li a {
  color: var(--grey-color);
  font-size: var(--nav-menu-fontSize);
  font-weight: 600;
  cursor: pointer;
  transition: color 0.8s ease;
  -moz-transition: color 0.8s ease;
  -webkit-transition: color 0.8s ease;
}

.nav__section-menu ul li a:hover {
  color: var(--dark-grey-blue-color);
}

.menu__btn {
  display: none;
}

/* HERO SECTION */
.hero-img {
  border-radius: 12px;
}

.hero__section {
  width: 100%;
  position: relative;
  padding: 0;
  margin-bottom: 6rem;
}

.hero__text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -40%);
  text-align: left;
  padding: 12px;
  /* max-width: 100%; */
  z-index: 2;
  /* font-size: 20px; */
}

.hero__text-h1 {
  font-family: "Fraunces-Black";
  font-size: 40px;
  color: var(--bg-light-cream-color);
  line-height: 50px;
  margin-bottom: 36px;
  overflow: hidden;
}

.hero__text-para {
  width: 70%;
  color: #a1a1a1;
  margin-bottom: 48px;
  font-size: 18px;
}

.new-line {
  display: block;
}

/* INFO SECTION */
.info {
  margin-bottom: 4rem;
}

.info__section {
  padding: 2.5rem 5rem;
  width: 100%;
  background-color: var(--dark-grey-blue-color);
  border-radius: 12px;
  /* border: 2px solid red; */
}

.info__section-div h4,
.info__section__content-div h1,
.info__section__content-div h2 {
  font-family: var(--heading4-font);
}

.info__section__content-div h2,
.info__section__content-div h1 {
  margin-bottom: 1.5rem;
}

.info__section__content-div h2 {
  color: var(--bg-light-cream-color);
  font-size: var(--heading4-fontSize);
  text-wrap: nowrap;
}

.info__section-div h4 {
  color: var(--bg-light-cream-color);
  font-size: var(--heading4-fontSize);
  margin-bottom: 2rem;
}

.info__section__content-div h1 {
  color: var(--pale-orange-color);
  font-size: var(--heading1-fontSize);
}

.info__section__content-div p {
  line-height: var(--body-lineHeight);
  color: var(--bg-light-cream-color);
}

.info__section__content {
  /* border: 2px solid green; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 4rem;
}

.info__section-line {
  display: flex;
  margin: 3rem 0;
  padding: 0;
  align-items: center;
}

.circle {
  border: 2px solid var(--dark-cyan-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.line {
  height: 3px;
  /* width: 22vw; */
  width: 32%;
  background-color: var(--pale-orange-color);
}

.cta__btn-link {
  /* border: 2px solid red; */
  padding: 0.7rem 0;
}

/* CREATE SECTION */
.create__sec {
  padding: 0px 50px;
  width: 100%;
}

.create__sec-nav{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 80px;
}

.question {
  display: flex;
  gap: 30px;
  text-align: left;
  text-transform: capitalize;
  font-family: var(--heading3-font);
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
  color: #a1a1a1;
}

.question-number {
  color: #bababa;
}

.content__arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__arrow-h6,
.options__text {
  font-family: var(--heading4-font);
}

.content__arrow-h6 {
  line-height: var(--heading1-lineHeight);
  font-size: var(--heading2-fontSize);
  color: var(--grey-color);
}

.green-arrow:hover {
  cursor: pointer;
}

.options__text {
  text-align: left;
  margin-bottom: 14px;
}

.options {
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9b6;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: height, 1s ease, opacity 1s ease;
}

.option {
  align-items: start;
  padding: 2rem;
  background-color: var(--bg-light-cream-color);
  border-radius: 10px;
  width: 100%;
  z-index: 2;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: height 1s ease, opacity 1s ease;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
}

label {
  transition: 0.8s;
}

label:hover {
  cursor: pointer;
  background: var(--pale-orange-color);
}

label:has([type="radio"]:checked) {
  background-color: var(--dark-cyan-color);
}

label:has([type="radio"]:checked):hover{
  background-color: var(--dark-cyan-color);
}

label:has([type="radio"]:checked) h3,
label:has([type="radio"]:checked) p {
  color: var(--bg-light-cream-color);
}

.test{
  width: 100%;
  border: 2px solid red;
  padding: 0;
}

.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  line-height: var(--heading1-lineHeight);
  font-size: var(--heading2-fontSize);
  color: var(--grey-color);
  font-family: var(--heading4-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  background-color: var(--bg-light-cream-color);
}

.accordion:after {
  content: url("/starter-code/assets/plan/desktop/icon-arrow.svg");
  color: var(--grey-color);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: url("/starter-code/assets/plan/desktop/icon-arrow-down.svg");
}

.panel {
  padding: 0;
  /* background-color: white; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel form{
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: left;
  gap: 20px;
}

.panel label{
  border: 2px solid transparent;
  padding: 2.2rem 1.5rem 5rem 1.5rem;
  background-color: #f4f4f4cb;
  border-radius: 12px;
  transition: background-color 1s ease;
}

.panel label:hover{
  background-color: var(--pale-orange-color);
}

.space{
  padding: 4rem;
}

.order__summary{
  background-color: var(--dark-grey-blue-color);
  padding: 3rem;
  border-radius: 12px;
}

.order__summary-header{
  color: var(--grey-color);
  margin-bottom: 1rem;
}

.order__summary-content{
  color: var(--bg-light-cream-color);
  font-family: var(--heading1-font);
  font-size: var(--heading4-fontSize);
  margin-bottom: 1rem;
}

.fill__green{
  color: var(--dark-cyan-color);
}

.order__summer__link{
  /* border: 2px solid red; */
  display: flex;
  justify-content: end;
}

.cta__btn1{
  background-color: var(--dark-cyan-color);
  padding: 10px 28px;
  border-radius: 10px;
  color: var(--bg-light-cream-color);
  cursor: pointer;
  transition: background-color 1s ease;
  font-family: var(--heading4-font);
}

.cta__btn1:hover{
  background-color: var(--dark-cyan-hover-color);
}


/* FOOTER SECTION */
.footer__section {
  background-color: var(--dark-grey-blue-color);
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 40px;
  margin-top: 6rem;
}

.footer__section-menu ul li a {
  color: var(--bg-light-cream-color);
  text-transform: uppercase;
}

.footer__section-menu,
.footer__section-menu ul,
.footer__section-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__section-menu {
  gap: 50px;
}

.footer__section-menu ul {
  gap: 30px;
}

.footer__section-menu ul li a {
  color: var(--grey-color);
  cursor: pointer;
  font-weight: 600;
  text-wrap: nowrap;
  transition: color 0.8s ease;
  -moz-transition: color 0.8s ease;
  -webkit-transition: color 0.8s ease;
}

.footer__section-menu ul li a:hover {
  color: var(--bg-light-cream-color);
}

.footer__section-icons {
  gap: 15px;
  overflow: hidden;
}

.footer__icons-img a {
  color: var(--bg-light-cream-color);
  cursor: pointer;
  transition: 0.8s ease;
  padding: 12px 5px;
}

.footer__section-icons a:hover {
  color: var(--pale-orange-color);
}

/* RESPONSIVENESS */
/* =============================== TABLET ================================================= */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 5px 45px;
  }

  /* hero section */
  .hero__text {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
  }

  .hero__text-para {
    width: 85%;
    font-size: 1.2rem;
  }

  /* info section */
  .info {
    background-color: var(--dark-grey-blue-color);
    border-radius: 12px;
  }

  .info__section {
    margin: 8rem auto;
  }

  /* footer section */
  .footer__section {
    display: grid;
    gap: 80px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding: 5rem;
    font-size: 1.4rem;
    margin-bottom: 3rem;
    width: 90%;
  }

  .footer__section-menu {
    display: grid;
    gap: 40px;
  }

  .footer__section-icons a {
    width: 15%;
  }

  .footer__section-icons {
    padding: 0 4rem;
  }
}

/* ================================ MOBILE ================================================= */
@media screen and (max-width: 768px) {
  .container {
    padding: 25px 30px;
  }

  /* header section */
  .nav__section {
    display: flex;
    gap: 40px;
  }

  .nav__section-menu {
    /* display: none; */
    height: 450px;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    width: 100vw;
    transition: 0.8s;
    overflow: hidden;
    z-index: 200;
  }

  .nav__section-menu.active {
    /* z-index: 1;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
    background: -webkit-linear-gradient(
      270deg,
      rgba(254, 252, 247, 1) 45%,
      rgba(255, 255, 255, 0) 100%
    );
    padding-top: 8rem;
    gap: 2rem;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s; */
    height: 450px;
    background: linear-gradient(
      180deg,
      var(--bg-light-cream-color) 50%,
      #d8d8d8ec 70%
    );
    z-index: 1000;
    color: var(--dark-grey-blue-color);
  }

  .nav__section-menu.active ul {
    opacity: 1;
  }

  .nav__section-menu ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav__section-menu ul li {
    margin-bottom: 1.5rem;
  }

  .nav__section-menu ul li a {
    font-size: 16px;
  }

  .menu__btn {
    display: block;
    width: 5%;
    cursor: pointer;
  }

  /* hero section */
  .hero__text {
    left: 50%;
    width: 85%;
    text-align: center;
  }

  .hero__text-h1 {
    font-size: 38px;
    line-height: 40px;
  }

  .hero__text-para {
    width: 100%;
  }

  /* info section */
  .info {
    background-color: var(--dark-grey-blue-color);
    border-radius: 12px;
  }

  .info__section,
  .info__section__content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .cta__btn-link {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .info__section-line {
    display: none;
  }

  /* create section */
  .create__sec-nav {
    display: flex;
  }

  /* footer section */
  .footer__section {
    display: grid;
    gap: 40px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding: 5rem;
    font-size: 1.4rem;
    margin-bottom: 3rem;
    width: 90%;
  }

  .footer__section-menu a {
    padding: 0rem;
  }

  .footer__section-menu {
    display: grid;
    gap: 40px;
    font-size: 1rem;
  }

  .footer__section ul {
    display: grid;
    gap: 10px;
    margin: 0 auto;
  }

  .footer__section-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .footer__section-icons a {
    width: 10%;
  }
}
